@using LearningCenter.Common
@{
    this.ViewData["Title"] = "About Page";
}
<div id="aboutPageBg" class=" bg-image bg-parallax overlay"></div>
<div id="headingJumbotron" class="hero-area jumbotron jumbotron-fluid bg-image  text-center">
    <div class="container white-text">
        <h1 class="display-4 white-text">Improving Lives Through Learning</h1>
    </div>
</div>

<div id="growJumbotronBg" class="hero-area jumbotron jumbotron-fluid bg-image  ">
    <div class="container white-text">
        <h2 class="display-4 white-text">A great place to grow</h2>
        <p class="lead">Our culture is diverse, inclusive, and committed to personal and professional development. We’re not afraid to take on a new challenge, and we love taking Learning Center courses!</p>
        <button class="btn btn-primary">Become A Lecturer</button>
    </div>
</div>

<div id="topLectorersJumbotron" class="hero-area jumbotron jumbotron-fluid bg-image  ">
    <div class="container white-text">
        <h2 class="display-4 white-text">Our Top Lecturers:</h2>
        <p class="lead">Our culture is diverse, inclusive, and committed to personal and professional development. We’re not afraid to take on a new challenge, and we love taking Learning Center courses!</p>
        <button class="btn btn-primary">Become A Lecturer</button>
    </div>
</div>