@using LearningCenter.Common
@using LearningCenter.Data.Models
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="main-menu nav navbar-nav navbar-right">
    @if (this.SignInManager.IsSignedIn(this.User))
    {

        if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
            </li>
        }
        else
        {

            <li class="nav-item">
                <div class="dropdown">

                    <button id="accountButton" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <i class="fas fa-angle-down"></i> Account
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item profileDropdownItem" asp-action="Index" asp-controller="Account" asp-route-id="@this.UserManager.GetUserId(this.User)"> <i class="fas fa-user-alt"></i> Profile</a>
                        <a class="dropdown-item profileDropdownItem" asp-area="Identity" asp-page="/Account/Manage/Index"> <i class="fas fa-users-cog"></i> Settings</a>
                        <a>
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                                <button id="logoutButton" type="submit" class=" dropdown-item nav-link btn btn-link profileDropdownItem"><i class="fas fa-sign-out-alt"></i> LOGOUT</button>
                            </form>
                        </a>
                    </div>
                </div>
            </li>

        }
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
