@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div id="manageAccountId" class="bg-image bg-parallax overlay"></div>
<div id="loginRegisterPage">
    <div class="col-md-12 text-center">
        <h2 class="white-text">@ViewData["Title"]</h2>
        <partial name="_StatusMessage" model="Model.StatusMessage" />
    </div>
</div>
