@model LearningCenter.Web.ViewModels.Categories.ChosenCategory
@{
    this.ViewData["Title"] = "Categories";
}
<div id="targetCategoryPage" class="bg-image bg-parallax overlay"></div>
<div id="subCategoryItems" class="col-md-2">
    <div class="text-center">
        <img class="card-img-top" width="175px" height="175px" src="~/img/@Model.ImageName" alt="Card image cap">
        <h3>@Model.Title</h3>

        <ul class="list-group">
            @foreach (var subCategory in Model.SubCategories)
            {
            <li class="list-group-item list-group-item-success"><a class="text-success">@subCategory.Title</a> </li>

            }
        </ul>
        @*<table class="table-striped">
            @foreach (var subCategory in Model.SubCategories)
            {
                <tr> <th class="">@subCategory.Title</th></tr>
            }
        </table>*@
    </div>
</div>
