@model LearningCenter.Web.ViewModels.Categories.IndexViewModel
@{
    this.ViewData["Title"] = "Categories";
}
<!-- Backgound Image -->
<div class="bg-image bg-parallax overlay" style=" background-image: url(./img/cta2-background.jpg)"></div>
<!-- /Backgound Image -->
<div id="home" class="hero-area text-center">
    <div id="categoryCards">
        @foreach (var category in Model.Categories)
        {
            <div class="col-md-1 categoryElement" style="width: 18rem;">
                <img class="card-img-top" width="175px" height="175px" src="@category.ImageUrl" alt="Card image cap">
                <div class="card-body">
                    <h3><a class="card-text loginRegisterTextColor" asp-controller="Categories" asp-action="TargetCategoryPage" asp-route-id="@category.Id">@category.Title</a></h3>
                </div>
            </div>
        }
    </div>

</div>