@model LearningCenter.Web.ViewModels.Categories.IndexViewModel
@{
    this.ViewData["Title"] = "Categories";
}


<!-- Backgound Image -->
<div class="bg-image bg-parallax overlay" style=" background-image: url(./img/cta2-background.jpg)"></div>
<!-- /Backgound Image -->
<div id="home" class="hero-area text-center">
    
    <div id="categoryCards">
        <h1 class="white-text">What are you interested in?</h1>
        <hr />
        @foreach (var category in Model.Categories)
        {
            <div class="col-md-3 categoryElement" style="width: 18rem;">
                <img class="card-img-top" width="175px" height="175px" src="~/img/@category.ImageName" alt="Card image cap">
                <div class="card-body">
                    <h3><a class="card-text loginRegisterTextColor" asp-controller="Categories" asp-action="ChosenCategory" asp-route-id="@category.Id">@category.Title</a></h3>
                </div>
            </div>
        }
    </div>
</div>
